deploy:
  image: node:22.14.0
  script:
    - apt update
    - apt install -y rsync
    - mkdir -p ~/.ssh
    - echo "$PRIV_KEY" > ~/.ssh/privkey
    - chmod 400 ~/.ssh/privkey
    - echo -e "Host dest\n\tHostName 78.46.70.133\n\tUser bolalarkontenti\n\tPort 50218\n\tIdentityFile ~/.ssh/privkey\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
    - echo "VITE_SUPABASE_URL=$VITE_SUPABASE_URL" > .env
    - echo "VITE_SUPABASE_ANON_KEY=$VITE_SUPABASE_ANON_KEY" >> .env
    - echo "VITE_SUPABASE_SERVICE_ROLE_KEY=$VITE_SUPABASE_SERVICE_ROLE_KEY" >> .env
    - yarn install
    - yarn run build
    - rsync -av ./dist/ -e ssh dest:/var/www/admin.bolalarkontenti.uz/
  only:
    - main
